<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Thomas Logistics</title>
  <link href="/assets/favicon.ico" rel="icon" sizes="16x16" type="image/x-icon"></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="login-bg">

  <div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form well b-top-F6B064 bg-white">
        <div class="logo">
          <%= link_to (image_tag "logo2.png"), "#", :class => "center-block" %>
        </div>
        <section class="login_content">
          <div class="login-form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="login-wrap">
                <div id="notification"><%= flash[:alert] %></div>
                <div>
                  <%= f.text_field :email, autofocus: true, placeholder: 'Username', required: true, class: 'form-control' %>
                </div>
                <div>
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true ,  class: 'form-control' %>
                </div>
                <div class="clearfix">
                  <div class="checkbox pull-left">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                  <%= f.submit "Log in", class: 'btn btn-primary submit pull-right' %>
                </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
            <!-- form -->
          </div>            
          
        </section>
        <!-- content -->
      </div>      
    </div>
  </div>
</body></html>
