<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ThomasLogistic</title>
    <!-- CSS -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" style="min-height:650px;">
      <div class="row">
        <div class="col-md-12 p-lr-0">
          <table width="100%" class="table-layout">
            <%c = params[:controller]%>
            <%a = params[:action]%>
            <tr>
              <%= render "layouts/header" %>
              <% if current_user.role == "manager" %>
                <td class="table-left-nav">
                  <%= render "layouts/admin_side_menu" %>
                </td>
              <% elsif current_user.role == "agent" || current_user.role == "wms_manager"  %>
                <td class="table-left-nav">
                  <%= render "layouts/left_nav_menu" %>  
                </td>
              <% elsif current_user.role == "client_user" %>
                <td class="table-left-nav">
                  <%= render "layouts/client_left_nav" %> 
                </td>  
              <% end %>  
              <td class="table-right-body">
                <% if c == homes_url %>
                  <div class="row" style="margin-top:-15px;">
                    <div class="panel">
                      <div class="panel-body" style="padding:2px;">
                        <h4 style="margin-left:13px;">Welcome! <%= current_user.name %></h2>
                      </div>
                    </div>
                  </div>
                <% end %>  
                <%= bootstrap_flash %>
                <%=yield%>
              </td>  
            </tr>
          </table>
        </div>
      </div>
    </div> 
  </body>
  <%= render partial: "layouts/footer" %>
</html>
